<div class="container-fluid">
{{partial "navbar"}}

<h4 class="actionResultNewsBar hidden">Some News Announcement! </h4>

<nav class="col-sm-3 col-md-2 d-none d-sm-block bg-warning sidebar">
{{partial "newsticker"}}
</nav>

{{#if session.isAuthenticated}}
    <div class="col-sm-6 col-md-8 d-none d-sm-block bg-info">
        <div class="jumbotron">

            {{outlet}}
            {{partial "newsshower"}}
        </div>
    </div>
	<nav class="col-sm-3 col-md-2 d-none d-sm-block bg-warning sidebar">
        {{partial "personalresponseticker"}}
	</nav>
{{else}}
    <div class="col-sm-9 col-md-10 d-none d-sm-block bg-info">
        <div class="jumbotron">

            {{outlet}}
            {{partial "newsshower"}}
        </div>
    </div>

{{/if}}








<p id="newsId"></p>
<p id="newsIndex"></p>
<p id="responseIndex"></p>


{{partial "footer"}}
</div>
