<h4 class="actionResultNewsBar hidden">Success! </h4>

<h1> Go away kid! I'm not good for you! It's not you it's me. You just can't be here anymore. </h1>

{{!-- <button {{action 'showGreen'}} class="btn btn-success">showGreen</button>

<button {{action 'showRed'}} class="btn btn-danger">showRed</button>
<button {{action 'showWhite'}} class="btn btn-info">showWhite</button>

<button {{action 'hideNews'}} class="btn btn-primary">hideall</button>
 --}}
{{!-- <div class="hidden jumbotron" id="someUniqueID"> SOME THING</div> --}}
<img src="/assets/deusSadReact851.png">

{{outlet}}
